.seachArea{
    font-size: 2.5rem;
    padding: 0.5em;
    list-style: nome;
}

.search-icon{
    font-size: 5rem;
    list-style: nome;
}

.youtube-search-text{
    font-size: 2.5rem;
    padding: 0.5em;
    margin-left: 0.5em;
    list-style: nome;
}

.youtube-search-btn{
    font-size: 2.5rem;
    margin-left: 0.5em;
    padding: 0.5em;
    list-style: nome;
}



